.wrapfield{margin-bottom:1rem;}
.wrapfield > div{ display: inline-block; width:49%;}

.hide{display: none;}

#map{position:relative; width:100%; height:550px; border-radius: 0.375rem;z-index:10}

/**** TIMELINE SETTINGS - BOUNDS SELECTOR ****/
#timeline-map .mb-3 { 
  position: relative;
}
.boundsBtn{
  width: 100%;
  text-align: left;
  border: 1px solid var(--bs-border-color) !important; 
}
.boundsAccordionWrap .btn-group {
  display: block;
  width: 100%;  
  /* border: 1px solid var(--bs-border-color) !important;  */
  border-radius: 0;
}
.boundsAccordionWrap .macroGroup{
  background: var(--bs-gray-500);
}
.boundsAccordionWrap .macroGroup button{
  color: white;
}
.boundsAccordionWrap .genericGroup{
  background: var(--bs-gray-300);
}
.boundsAccordionWrap .btn-group .dropdown-toggle-split{
  width:50px;
}
.boundsAccordionWrap .btn-group .boundsSelectBtn{
  width: calc(100% - 50px);
  text-align: left;
}
.boundsAccordionWrap button{
  border:0;
  border-radius: 0;
}
.boundsSelectBtn{
  text-align: left;
}
.boundsGenericBtn{
  padding-left: 2rem;
}
.boundsSpecificBtn{
  width:100%;
  border: 1px solid var(--bs-border-color) !important;
  padding-left: 4rem;
}

.boundsWrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-toggle-split::after {
  display: none !important;
}

@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
