#dashboardWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding:20px;
}

#issuesSection, 
#mapWrap {
  grid-column: 1 / -1; /* Occupa entrambe le colonne */
  overflow-y: hidden;
}
#issuesSection {
  height:auto;
  max-height: 500px;
} 
#issuesBody{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#mapWrap {
  height: 500px;
}
#artifactList,
#modelList,
#institutionList,
#personList {
  height: 600px;
  overflow-y: hidden;
}

#mapWrap #map {
  height: 100%;
  width: 100%;
}

.dashboardSection{
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
}

#artifactList,
#modelList{
  display: flex;
  flex-direction: column;
}
.issuesElement {
  display: flex;
  flex-direction: column;
  max-height: 430px;
}

.table-wrapper {
  overflow-y: auto;
  flex: 1;
}

.table-wrapper table {
  margin-bottom: 0;
  font-size: .8rem;
}

.table-wrapper thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--bs-light);
}

.mainDataTable .table {
  width: 100%;
}

#artifactDataWrap td:nth-child(1) { width: 10%; word-break: break-word; }  /* name */
#artifactDataWrap td:nth-child(2) { width: 40%; } /* description */
#artifactDataWrap td:nth-child(3) { width: 20%; }  /* institution */
#artifactDataWrap td:nth-child(4) { width: 15%; }  /* author */
#artifactDataWrap td:nth-child(5) { width: 10%; }  /* last_update */
#artifactDataWrap td:nth-child(6) { width: 5%; }  /* ID */

#artifactDataWrap .table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#artifactDataWrap .table td:hover {
  overflow: visible;
  white-space: normal;
  background: white;
  position: relative;
  z-index: 10;
}

#modelDataWrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  flex: 1;
  font-size: .8rem;
}
.empty-models-message {
  grid-column: 1 / -1; 
  margin: 0;
}

.toolbarDiv {
  display:flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: space-between;   
}

.toolbarDiv > div {
  flex: 1;
}
/* Responsive: mobile = 1 colonna */
@media (max-width: 768px) {
  #dashboardWrap {  grid-template-columns: 1fr; }
  
  #issuesSection,
  #artifactList,
  #modelList,
  #mapWrap,
  #institutionList,
  #personList {
    grid-column: 1;
  }
}