#mapGalleryWrap{
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -100vw;
  width: 100vw;
  padding: 1rem;
  z-index: 2000;
  overflow: hidden;
  transition: left 0.3s ease-in-out;
}

#mapGalleryWrap.visible {
  left: 0;
}

#wrapGallery, #wrapCollection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  overflow-y: auto;
}
#wrapCollection{
  padding:20px;
  margin-top:40px;
}

#wrapGallery.indexGallery{
  padding:450px 20px 20px;
}

#wrapGallery.mapGallery{
  padding-right: .5rem;
  max-height: calc(100vh - 200px);
}

.galleryItem{
  display: flex;
  flex-direction: column;
  
  position:relative;
  aspect-ratio: 1/1.5;
  border: 1px solid #ccc;
  min-width: 0; /* Previene overflow del contenuto */
}

.galleryCardHeader{
  width:100%;
  height:150px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galleryCardHeader, .galleryItem .card-footer{
  background-color: rgba(33,37,41, 0.03);
}
.galleryItem h3{font-size: 1.5rem;}
.galleryItem .card-body{height:250px; overflow: hidden;}
.galleryItem .card-body, .galleryItem .card-footer{padding:.8rem;}
img.cardImage{
  width:100%;
  height:100%;
  object-fit:contain;
}
img.cardPlaceholder{
  width: 50%;
  height: 50%;
}
p.headerTxt{
  position:absolute;
  top:5px;
  left:5px;
  width: 100%;
  margin: 0;
  z-index: 2;
}

#endGallery {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  margin: 2em 0 1em 0;
  font-size: 1.2em;
  color: #555;
}

#noItemsInCollection{
  position: absolute;
  top:50px;
  left:0;
  width:100%;
  text-align: center;
  display: none;
}

@media (max-width: 576px) {
  #wrapGallery, #wrapCollection { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 577px) and (max-width: 768px) {
  #mapGalleryWrap{ left: -70vw;  width: 70vw; }
  #wrapGallery, #wrapCollection { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 769px) and (max-width: 1080px) {
  #mapGalleryWrap{ left: -70vw; width: 70vw; }
  #wrapGallery, #wrapCollection { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1081px) {
  #mapGalleryWrap{left: -50vw; width: 50vw; }
  #wrapGallery.indexGallery, #wrapCollection{ grid-template-columns: repeat(6, 1fr); }
  #wrapGallery.mapGallery { grid-template-columns: repeat(4, 1fr); }
}