#main{
  margin-top: 100px;
  padding:0 2rem 2rem;
  min-height: 70dvh;
}

#personForm{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 3rem;
}

#inputContainer{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
 }

@media (min-width: 992px) {
  #inputContainer{
    grid-template-columns: repeat(3, 1fr);
  }
}