@import url('./password.css');

main{
  padding-top:50px;
}

#tokenMessage{
  position:relative;
  max-width: 90dvw;
  width:fit-content;
  margin:auto;
  text-align: center;
}

#btn-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}