## DATABASE CONFIGURATION
MYSQL_ROOT_PASSWORD=          ## password for the root user of the database server
MYSQL_USER=                   ## database user to be created
MYSQL_PASSWORD=               ## password for the database user
MYSQL_DATABASE=               ## name of the database to be created
MYSQL_PORT=                   ## port on which the database server will listen, 3306 is the default for MySQL

# Web server
APP_BASE_URL=                 ## base URL of the application
APP_PORT_HTTP=                ## port for HTTP traffic
APP_PORT_HTTPS=               ## port for HTTPS traffic 443 is the default

#webhook port
WEBHOOK_PORT=3000             ## port for webhook listener

## MAIL CONFIGURATION
MAILHOST=                     ## mail server host
MAILPORT=                     ## mail server port
MAILUSER=                     ## mail server user
MAILPASSWORD=                 ## mail server password
MAILSETFROM=                  ## email address to set as the sender
MAILSETFROMNAME=              ## name to set as the sender