# Environmental Variables used by docker-compose.yml for the BItFROST 2.0 app
# Copy this file to .env and fill in the values for the variables

# Postgres env vars
# On first run (if the directory postgres-data is empty) the database will be initialized by scripts/init.sh - might  need tweaking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# PostgREST env vvars
PGRST_AUTH_ROLE=authenticator # This is the role that will be used for authentication, must correspond to the role in the database (see PostgREST docs for DB setup)
PGRST_AUTH_PASSWORD=password
PGRST_DB_URI=postgres://postgres:5432/data # Expecting to find a database named 'data' in the postgres server
PGRST_DB_SCHEMA=api # This is the schema that will be used for the API, must correspond to the schema in the database
PGRST_DB_ANON_ROLE=anonymous # This is the role that will be used for anonymous users, must correspond to the role in the database (if anon access is needed)
PGRST_SERVER_PROXY_URI="http://127.0.0.1:3000/"
PGRST_JWT_SECRET='{"kty":"RSA","e":"AQAB","kid":"62a2b786-612d-4eab-88e1-0c680cbd7897","n":"m3b8CIzl4f ... _vPweFfRw"}' # This is a placeholder, replace with your own secret from KC
PGRST_ROLE_CLAIM_KEY='.resource_access.ikaros.roles[0]' # This is a placeholder, replace with your own claim key from KC, check the token to see the correct key
PGRST_PORT=3000
PGRST_ADMIN_SERVER_PORT=3001

# Keycloak env vars
JAVA_OPTS_APPEND='-Dkeycloak.profile.feature.upload_scripts=enabled'
KC_DB_PASSWORD=postgres
KC_DB_URL='jdbc:postgresql://postgres/keycloak'
KC_DB_USERNAME=postgres # This is the default username for the postgres database, might wanna set up another user for KC
KC_HEALTH_ENABLED='true'
KC_METRICS_ENABLED='true'
KC_HOSTNAME_URL=https://apps.drosopoulou.net/auth/ # This is the URL of the Keycloak server
KC_HOSTNAME_ADMIN_URL=https://apps.drosopoulou.net/auth/
KC_PROXY=edge
KC_HOSTNAME_STRICT='false'
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=password
KC_PORT=8180
KC_DEBUG_PORT=8787

# Nginx Proxy Manager env vars

NPM_HTTP=80
NPM_HTTPS=443
NPM_ADMIN=81

# MySQL env vars
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=webuser
MYSQL_DATABASE=bitfrost
MYSQL_PASSWORD=password
MYSQL_PORT=3306

# BItFROST 2.0 web app env vars
APP_PORT_HTTP=8085
APP_PORT_HTTPS=8444

# Webhook env vars
WEBHOOK_PORT=3007
