## DATABASE CONFIGURATION
DBUSER = dbuser                 ## databse owner user
DBPASSWORD = dbpassword         ## password to connect to the database
DBDBNAME = dbname               ## name of the database to connect
DBHOST = 0.0.0.0                ## database server path, use 'localhost' for local connection
DBPORT = 3306                   ## database port connection, leave 3306 if using the default mysql port

## MAIL CONFIGURATION
MAILHOST='smtp.example.com'     ## hostname of the mail server that PHPMailer should use to send the email. This could be an SMTP server
MAILPORT=587                    ## Defines the port number used to connect to the SMTP server. Common port numbers are:
                                ## 25 for non-encrypted connections.
                                ## 465 for SSL-encrypted connections.
                                ## 587 for TLS-encrypted connections.
MAILUSER='user@example.com'     ## The SMTP username for authentication. This is usually the email address or the user ID used to log into the SMTP server.
MAILPASSWORD='yourpassword'     ## The password associated with the SMTP username. This is used for authenticating with the SMTP server.
MAILSETFROM='email@example.com' ## Set the "From" address for the email
MAILSETFROMNAME='Sender Name'   ## Set the email sender name, which can be the name of your institution or your personal name. 