# --- Dipendenze e System files ---
api/vendor/ 
node_modules/
.vscode/ 
.env
*.log

# --- Cartelle di lavoro locali ---
workfile/ 
notes/ 
documentation/site/ 
docker-compose.override.yml
site/

# --- Gestione Dati Persistenti (Strategia .gitkeep) ---
archive/** 
# !archive/**/
# !archive/**/.gitkeep
# !archive/models/sphere.ply

# img/logo/*
# !img/logo/default.jpg

# --- Backup e Dump ---
db-init/*.sql
db-init/*.sql.gz
# archive/*.zip 
# archive/*.sql
